*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
}

.container{
    width: 100%;
    min-height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
    background-attachment: fixed;
    font-family: 'Roboto', sans-serif;
    
}
.part1{
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    font-weight: 50rem;
}

.title{
    font-weight:500;
    font-family: 'Fredoka';
}

h1{
    font-family: 'Roboto', sans-serif;
    font-size: 5rem;
    margin-top: 5rem;
    margin-bottom: 10rem;
    font-weight: 500;
}
ul{
    list-style: none;
}
a{
    font-size: 3rem;
    text-decoration: none;
    color: var(--color-2);
}
.text1{
    font-size: 2rem;
    margin-top: 3rem;
    margin-bottom: 10rem;
    line-height: 4rem;
    font-weight: 300;
}

.link1{
    margin-top: 10rem;
    margin-left: 5rem;
    margin-right: 5rem;
    border: 1px solid var(--color-5);
    padding: .5rem 5rem;
    border-radius: 7rem;
    transition: .7s;
}
.link1:hover{
    background-color: var(--color-5);
    border-color: var(--color-5);
}

.bg-image1{
    background-image: url(../image/J84.png);
}

/* galeria de imagens */

.img-gal{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    padding: 2rem;
}

.gal-item{
    width: 30%;
    background-color: var(--color-4);
    padding: 2rem 2rem 2rem 2rem;
    margin: 1rem 0;
    border-radius: .7rem;
    font-size: 1.5rem;
    font-weight: 300;
}
.gal-item img{
    width: 100%;
    border-radius: .7rem;
    transition: .7s;
}
.gal-item img:hover{
    cursor: pointer;
    transform: scale(105%);
}

.bg-color-4{
    background-color: var(--color-3);
}

:root{
    --color-1: #fff;
    --color-2: #000;
    --color-3: #d9bfa9;
    --color-4:#779ab5;
    --color-5: #3c84a4;
}